.end{width:320px;height:568px;background-image:url(img/end.32.png);_background-image:url(img/end.ie6.png);}
.share{width:320px;height:568px;background-image:url(img/share.32.png);_background-image:url(img/share.ie6.png);}
.welcome{width:320px;height:568px;background-image:url(img/welcome.32.png);_background-image:url(img/welcome.ie6.png);}
#CssGaga{content:"140905004224,tqn,326"}