.beef-done{width:75px;height:72px;background-image:url(img/beef-done.32.png);_background-image:url(img/beef-done.ie6.png);}
.beef-water{width:75px;height:72px;background-image:url(img/beef-water.32.png);_background-image:url(img/beef-water.ie6.png);}
.beef-wine{width:75px;height:72px;background-image:url(img/beef-wine.32.png);_background-image:url(img/beef-wine.ie6.png);}
#CssGaga{content:"140907170430,tqn,326"}